@model InfoTextSMSDashboard.WebApp.DTOs.Contact

    <ul>

        <li>
            First name: @Model.FirstName
        </li>
        <li>
            Last Name: @Model.LastName
        </li>
        <li>
            Phone number: @Model.PhoneNumber
        </li>
        <li>
            Email address: @Model.EmailAddress
        </li>

    </ul>