@model SMS
@{
    ViewData["Title"] = "CreateSMS";
}


    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Send SMS </h3>
                        </div>
                    </div>
                </div>



                <form asp-route="SendSMS" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                        <div class="col-xl-8">
                            <div class="form-group">
                                <label asp-for="Recipients" class="control-label"> Phone numbers</label>
                                <input asp-for="Recipients" class="form-control" />
                                <span asp-validation-for="Recipients" class="text-danger"></span>
                            </div>
                        </div>
                    

                    
                        <div class="col-xl-8">
                            <div class="form-group">
                                <label asp-for="Message" class="control-label"></label>
                             
                               
                                <textarea rows="4" asp-for="Message" class="form-control" placeholder="What message are you sending.....">
    
                                  </textarea>
                                    
                                   
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                        </div>
                  

                    <div class="card-footer">
                        <div class="row align-items-start">
                            <div class="col-12 text-center">
                                <div class="form-group">
                                    <input type="submit" value="Send SMS" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>